root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{ex,exs,yaml,yml,json,md}]
indent_size = 2

[*.{ex,exs}]
max_line_length = 120
